@{
    ViewBag.Title = "Contact";
}


<section class="module">
    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                <h2>@ViewBag.Title.</h2>
                <address>
                    Raleigh, NC<br />
                </address>

                <address>
                    <strong>E-mail:</strong>   <a href="mailto:Support@example.com">oongkyu@gmail.com</a><br />
                </address>
                </div>
            </div>
        </div>
    </section>


